.AboutPage {
    display: flex;
    margin-top: 300px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Logo {
    align-items: center;
    justify-content: center;
}

.NavBar {
    padding: 1px;
}

.ListOfSkills {
    align-items: left;
}
